/* Empty. Add your own CSS if you like */
.card {
	display: block;
}

.cardMainImage {
	display: block;
}

.cardTitle {
	display: block;
}

.cardTitleIcon {
	height: 100px;
	width:  100px;
	display: inline;
	float: 	left;
	margin:	10px;
	border: 2px;
	border-color: gray;
	border-style: solid;
}

.dietaryLifeStyle {
	display: inline;
	margin-right: 10px;
	color: gray;
}

.cardBuyInfo {
	clear: both;
}

.cardPrice {
	margin-left: 20px;
	/*margin-right: 20px;*/
	margin-top: 15px;
	display: inline;
	float: left
}

.cardIncrement {
	display: inline;
	float: left;
}

.cardQuantity {
	font-size: 30px;
}